body {

}
/*Navbar styling*/
#logo {
    font-family: 'Oswald', sans-serif;
    color:#FFF0D7;
}
nav.navbar.navbar-static-top {
    background-color:#474E5D;
    margin-bottom:0;
}
nav.navbar.navbar-static-top a {
    color:#FFF0D7;
}

/*Jumbotron styling*/
div.jumbotron.main {
    margin-bottom:0;
    color:#FFF0D7;
    padding:0;
    /*height:372px;*/
    background-image:url(Images/tuscany-villas-sant-anna.jpg);
    background-size:auto;
    /*background-image:url(Images/Versilia.jpg);
    background-size:auto;*/
    }
img#map {
    padding:0;
    margin-right:0;
}
/*div.col-md-3 {
    padding:0;
}*/

/*Locations styling*/
div.page-header {
    text-align:center;
    color:#FFF0D7;
    background-color:#474E5D;
    margin-bottom:0;
    margin-top:0;
    /*height:150px;*/
}
h1#locationsHeader {
    margin-top:0;
    padding-top:20px;
    background-color:#474E5D;
}
img#location1 {
    height:90%;
    width:90%;
}
p.locationsText1 {
    font-size:12px;
    color:#474E5D;
}
div.col-md-4 {
    padding:0;
}
h3.locationHeading1 {
    color:#474E5D;
}
div.jumbotron.location1 {
    background-color:#FFFFFF;
}
img#location3 {
    height:90%;
    width:90%;
}
img#location2 {
    height:90%;
    width:90%;
}
h3.locationHeading2 {
    color:#FFF0D7;
}
div.jumbotron.location2 {
    background-color:#474E5D;
}
p.locationsText2 {
    font-size:12px;
    color:#FFF0D7;
}